@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
}

.container{
    display: flex;
    background-color: rgba(247, 247, 247, 0.521);
    box-shadow: grey 10px;
    margin-top: 130px;
    width: 600px;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 22px 22px 52px -10px rgba(0,0,0,0.62);
    -webkit-box-shadow: 22px 22px 52px -10px rgba(0,0,0,0.62);
    -moz-box-shadow: 22px 22px 52px -10px rgba(0,0,0,0.62);
}

.wadah{
    color: grey;
    font-family: 'Mochiy Pop P One', sans-serif, monospace;
    align-items: center;
}

.judul{
    padding-left: 20px;
}

.deskripsi{
    font-family: 'Poppins', sans-serif;
    color: grey;
    padding: 20px;
}

.wadah .photo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: grey;
}

.banner{
    background-color: rgb(209, 209, 209);
    border-radius: 20px 20px 0 0;
    width: cover;
    padding: 20px;
}
.link{
    padding: 40px;
}
.btn{
    padding: 10px;
    width: 80px;
    background: transparent;
    border: grey 3px solid;
    border-radius: 20px;
    font-size: 27px;
    align-items: center;
    justify-content: center;
    color: grey;
    cursor: pointer;
}
.btn:hover{
    background-color: grey;
    color: white;

}
.navbar{
    display: flex;
    position: absolute;
    background-color: white;
    width: 560px;
    border-radius: 20px;
}
.nav-content{
    font-family: 'Poppins', sans-serif, monospace;
    padding: 13px;
    text-decoration: none;
    color: grey;
    margin: 10px;
    border-radius: 10px;
    height: fit-content;
}

.nav-content:hover{
    transition: .8s;
    background-color: rgb(206, 206, 206);
}